<!DOCTYPE html>
<html lang="en">

<head>
    <title>SPAM detector </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SPAM Detector</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}">


</head>

<body>

    <div class="container">
      <div class="form-container">
        <h1>CHECK HAM OR SPAM!</h1>
        <h4> Enter Text and Click the "check button:"</h4>
        <form action="showclass" method = "POST">

          <textarea rows="10" cols="30" name="number1" style="font-size: 20pt" placeholder="Enter Text" value= "{{ entered }}"></textarea>
          <br>
          <input  class="button-primary" type="submit" value="CHECK"></input>
        </form>
        <div>
          <p>Text: {{ entered }}</p>
           <div id="review"><h1>{{ value }}</h1></div>
        </div>
      </div>
    </div>
    <p>Built using Enron email corpus</p>
    <p>&copy; Sai Yesaswy<p>

</body>

</html>